
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center
}

.card {
    height: fit-content;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
font-family: 'Tapestry', cursive;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s
}

.heighten {
    height: 2100px
}

.card::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: #840808;
    left: 0
}

.top {
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}

.top h3 {
    color: #344555
}

.top span {
    height: 25px;
    width: 25px;
    border: 1px solid #8f9ca5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.checked_tick {
    display: flex;
    align-items: center;
    gap: 7px
}

.checked_tick .fa-check {
    color: #2ad05d
}

.fa-angle-down {
    margin-top: 2px;
    font-size: 20px
}

.fa-angle-up {
    font-size: 20px
}

.progress-bar {
    list-style: none;
    display: flex;
    width: 100%
}

.progress-bar li {
    position: relative;
    width: 300px
}

.progress-bar li::after {
    margin-top: 10px;
    content: '';
    position: absolute;
    height: 4px;
    width: 60px;
    background-color: #d5d9df;
    transition: all 1s
}

.progress-bar li.active::after {
    position: absolute;
    background-color: green;
    height: 4px;
    z-index: 2
}

.list {
    margin-top: 50px;
    list-style: none;
    position: relative
}

.list_active {}

.list_item_1 {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px
}

.list_item_1 strike {
    font-size: 15px;
    font-weight: 700;
    margin-top: 2px
}

.list_item_1 span {
    height: 25px;
    width: 25px;
    border: 1px solid #c1ccd3;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-right: 6px;
    cursor: pointer;
    transition: all 0.5s
}

span.list_checked {
    background-color: #2ad05d
}

.list_item_1 span i {
    color: #fff
}

.d-none {
    display: none
}

strike.strike_none {
    text-decoration: none
}

ul.collapsed {
    height: 0px;
}

ul {
    height: 750px;
    overflow:hidden;
    transition: height 0.5s cubic-bezier(.17,.67,.4,1.5);
}